<p>Welcome to <strong>Costumo</strong> <%= @email %>!</p>

<p>You can confirm your Costumo account through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
